.auth {
    & h3 {
        @apply font-medium
    }
}

.label {
    @apply flex flex-col gap-[10px];

    & p {
        @apply text-p3;
    }
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.spin {
    animation: spin 5s linear infinite;
}

.code {
    & .input {
        @apply w-[60px] p-4 border rounded-lg border-gray2 text-p1 flex justify-center text-center items-center gap-3 bg-white;
    
        &:hover {
            @apply border-gray3 bg-prim1;
        }
    
        & input {
            @apply w-full outline-none text-gray4 font-medium bg-inherit select-none;
        }
    
        & input:focus {
            @apply  text-gray5;
        }
    
        & textarea {
            @apply w-full outline-none text-gray4 font-medium bg-inherit select-none ;
        }
    
        & textarea:focus {
            @apply  text-gray5 bg-white;
        }
    
        & svg {
            @apply cursor-pointer;
        }
    
        &_focus {
            @apply w-[60px] border-prim3 p-4 border rounded-lg text-p1 flex justify-center text-center items-center gap-3 bg-white;
    
            &:hover {
                @apply bg-prim1;
            }
        
            & input {
                @apply w-full outline-none text-gray4 font-medium bg-inherit;
            }
        
            & input:focus {
                @apply  text-gray5;
            }
        
            & svg {
                @apply cursor-pointer;
            }
    
            & textarea {
                @apply w-full outline-none text-gray4 font-medium bg-inherit select-none;
            }
        
            & textarea:focus {
                @apply  text-gray5;
            }
        }
    }
}
.back:hover {
    & svg path{
        stroke: rgb(81 190 249);
    }
    & p {
        color: rgb(81 190 249);
    }
}