$prim1: rgba(239, 247, 254, 1);
$prim2: rgba(161, 222, 255, 1);
$prim3: rgba(81, 190, 249, 1);
$prim4: rgba(0, 125, 191, 1);
$prim5: rgba(0, 82, 126, 1);

$gray1: rgba(255, 255, 255, 1);
$gray2: rgba(242, 242, 245, 1);
$gray3: rgba(217, 217, 227, 1);
$gray4: rgba(190, 190, 203, 1);
$gray5: rgba(154, 154, 165, 1);
$gray6: rgba(91, 91, 95, 1);
$gray7: rgba(48, 48, 54, 1);

$red1: rgba(255, 146, 146, 1);
$red2: rgba(227, 86, 86, 1);
$green1: rgba(89, 221, 126, 1);
$green2: rgba(89, 221, 126, 1);